<!DOCTYPE html>
<html lang="en">
    {{template "head"}}
    <body>
        {{template "menu"}}
        <header class="jumbotron jumbotron-fluid">
            <div class="container-fluid text-center">
                <h1 class="display-3">GOSSIP Hosting</h1>
                <br>
                  <div class="col-auto">
                    <a class="btn btn-primary btn-lg" href="/deploy">Deploy Your Masternode</a>
                  </div>
            </div>
        </header>
        <div class="container">
            <div class="row text-center">
                <div class="col-md-4 mb-4">
                    <div class="card h-100">
                        <div class="card-body">
                            <h4 class="card-title">Cheap</h4>
                            <p class="card-text">On a VPS server you can host thousands of masternodes</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 mb-4">
                    <div class="card h-100">
                        <div class="card-body">
                            <h4 class="card-title">Quickly Deployed</h4>
                            <p class="card-text">Without Linux console. Paste two parameters, that's all!</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 mb-4">
                    <div class="card h-100">
                        <div class="card-body">
                            <h4 class="card-title">Secure</h4>
                            <p class="card-text">Your coins stay in your wallet, where they are safe. No transfer required.</p>
                        </div>
                    </div>
                </div>
            </div>
            {{template "footer"}}
        </div>
    </body>
</html>
